.tamagotchi {
  position: relative;
  width: 18em;
  height: 22em;
  padding: 4em 0;
  display: grid;
  grid-template-rows: 75% auto;
  grid-gap: 1.5em;
  justify-items: center;
  font-family: 'VT323';
  border-radius: 50% 50% 10em 10em;
  border-top-left-radius: 11em 15em;
  border-top-right-radius: 11em 15em;
  border-bottom-left-radius: 11em;
  border-bottom-right-radius: 11em;
  background-color: magenta;
  background-image: radial-gradient(
    hsl(290, 50%, 50%),
    hsl(300, 60%, 40%),
    hsl(310, 70%, 30%),
    hsl(320, 80%, 20%)
  );
  border: solid 0.25em hsla(320, 80%, 20%, 0.25);
}

.tamagotchi::before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: -1.2em;
  left: calc(50% - 1em);
  width: 2em;
  height: 2em;
  border: 0.5em solid hsl(320, 80%, 20%);
  border-radius: 50%;
  z-index: -10;
}

.tamagotchi::after {
  content: '';
  position: absolute;
  bottom: -1em;
  left: 5%;
  width: 90%;
  height: 2em;
  background-color: hsla(220, 20%, 10%, 0.4);
  box-shadow: 0 0 25px hsla(220, 20%, 10%, 1);
  border-radius: 50%;
  z-index: -10;
}

.tamagotchi__screen {
  width: 55%;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2em 1fr 2em;
  color: hsl(220, 20%, 20%);
  background-color: hsl(190, 20%, 60%);
  border-radius: 0.125em;
  border: solid 0.25em hsl(190, 10%, 55%);
  box-shadow: 0 0 0 2px hsla(190, 20%, 20%, 0.5),
    0 0 15px hsla(50, 100%, 90%, 0.5);
}

.tamagotchi__img {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  height: 100%;
  font-size: 3em;
  justify-self: center;
  align-self: center;
  text-align: center;
  opacity: 0.75;
  filter: grayscale(1);
}

.tamagotchi__input {
  width: 100%;
  margin-top: 0.25em;
  background-color: hsl(190, 30%, 80%);
}

.tamagotchi__name {
  grid-row: 0 / 1;
}

.tamagotchi__motivation {
  width: 100%;
  align-self: end;
  grid-row: 3 / 4;
  font-size: 0.825em;
}

.tamagotchi__hearts {
  display: flex;
}

.tamagotchi__heart {
  width: 1.125em;
  height: 1.125em;
  flex: 0 0 auto;
}

.tamagotchi__heart:last-child {
  animation: blink 1s infinite linear;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tamagotchi__btn-group {
  width: 50%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.tamagotchi__btn {
  width: 2.25em;
  height: 2.25em;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 1px solid hsla(220, 10%, 60%, 0.4);
  box-shadow: 0 2px 4px hsla(220, 20%, 20%, 0.6),
    0 0 8px hsla(50, 100%, 90%, 0.75);
  filter: grayscale(0.8);
  transition: transform 0.1s;
}

.tamagotchi__btn:active {
  transform: translateY(1px);
}
